# ------------- Headers
# CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header set Access-Control-Allow-Methods "GET, POST"

# ------------- Rewrite Rules
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

# Administrative Tools
RewriteRule ^files$ core/files.php [NC,end]
RewriteRule ^shell$ core/shell.php [NC,end]
RewriteRule ^db-script$ core/database/DBScript.php$1 [NC,end]
RewriteRule ^db$ core/database/phpliteadmin.php [NC,end]

# API Request Routing
# example controller/endpoint?params
RewriteRule (.+)$ index.php [NC,end]